extends auth

block auth
  form.login.form-horizontal(action="/users/session", method="post")
    p.error= message
    .form-group
      label.control-label(for='username') Username
      .controls
        input.form-control#username(type='text', name="username", placeholder='Username')

    .form-group
      label.control-label(for='password') Password
      .controls
        input.form-control#password(type='password', name="password", placeholder='Password')

    .form-actions
      button.btn.btn-primary(type='submit') Login
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/signup") sign up
