extends auth

block auth
  h1 注册账号！
  form.signup.form-horizontal(action="/users", method="post")

    .form-group
      label.control-label(for='username') Username
      .controls
        input.form-control#username(type='text', name="username", placeholder='Username', value=user.username)

    .form-group
      label.control-label(for='password') Password
      .controls
        input.form-control#password(type='password', name="password", placeholder='Password')

    .form-actions
      button.btn.btn-primary(type='submit') Sign up
      &nbsp;
      | or&nbsp;
      a.show-login(href="/login") login
